@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    top: 0;
    bottom: 0;
}

body {
    background-color: #242424;
    display: block;
    align-items: center;
    margin: 10px;
    height: 50vh;
    overflow: hidden;
}

.header {
    margin-top: 5em;
}

.profile-logo {
    display: flex;
    justify-content: center;
}

.logo {
    width: 81px;
    height: 127.5px;
    border-radius: 180px;
}

.name {
    text-shadow: 0px 0px 5px black;
    color: white;
    text-align: center;
}

.intro {
    text-shadow: 0px 0px 5px black;
    color: lightgray;
    text-align: center;
}

.icon {
    height: 25px;
    width: 25px;
}

.outtro-text {
    color: white;
    text-align: center;
}

.outtro {
    text-align: center;
    margin-top: 300px;
    animation: outtro 500ms infinite;
    animation-direction: alternate;
}
@keyframes outtro {
    100% { margin-top: 280px}
}

.box {
    margin-top: 3em;
}

.navigation-outside {
    position: absolute; 
    transform: translate(810px, 350px);
}

.navigation-inside {
    margin: 0;
    padding: 0;
    cursor: pointer;
    list-style-type: none;
}

                                                            /*GitHub*/
.github {
    font-weight: 600;
    color: white;
    border-radius: 10px;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    transition-duration: 500ms;
    background: black;
    background-image: url(github-mark-white.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 16px;
}
.gitbox1 {
    filter: blur(2px);
    position: absolute;
    width: 10%;
    height: 3%;
    background-color: red;
    border-radius: 50% 25%;
    z-index: -1;
    transform: translate(-180px, -5px);
    animation: gitbox1 5s infinite;
}
@keyframes gitbox1 {
    100% { transform: translate(-180px, -5px) rotate(360deg); }
}
.gitbox2 {
    filter: blur(2px);
    position: absolute;
    width: 10%;
    height: 3%;
    background-color: aquamarine;
    border-radius: 1px;
    z-index: -1;
    transform: translate(100px, 30px);
    animation: gitbox2 5s infinite alternate-reverse;
}
@keyframes gitbox2 {
    100% { transform: translate(100px, 30px) rotate(360deg); }
}
.github:hover, .github:active {
    background-color: lightgray;
    color: black;
    box-shadow: 0px 0px 20px 10px black;
    transition-duration: 500ms;
    background-image: url(github-mark.png);
    background-size: 27px;
    background-repeat: no-repeat;
    background-position: 70px 13px;
}

                                                            /*Facebook*/
.facebook {
    font-weight: 600;
    color: white;
    border-radius: 10px;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    transition-duration: 500ms;
    background: black;
    background-image: url(facebook-icon.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 16px;
}
.facebox1 {
    position: absolute;
    width: 64px;
    height: 32px;
    background-image: url(boy.png);
    background-repeat: no-repeat;
    z-index: -1;
    transform: translate(15px, 75px);
    animation: facebox1 5s infinite alternate;
}
@keyframes facebox1 {
    50% { transform: translate(15px, 50px); }
    100% { transform: translate(15px, 50px);  }
}
.facebox2 {
    position: absolute;
    width: 64px;
    height: 32px;
    background-image: url(girl.png);
    background-repeat: no-repeat;
    border-radius: 1px;
    z-index: -1;
    transform: translate(-30px, 75px);
    animation: facebox2 5s infinite alternate-reverse;
}
@keyframes facebox2 {
    50% { transform: translate(-30px, 50px); }
    100% { transform: translate(-30px, 50px);  }
}
.facebook:hover, .facebook:active {
    background-color: #71afff;
    color: black;
    box-shadow: 0px 0px 20px 10px black;
    transition-duration: 500ms;
    background-image: url(facebook-icon.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 70px 13px;
}

                                                            /*Instagram*/
.instagram {
    font-weight: 600;
    color: white;
    border-radius: 10px;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    transition-duration: 500ms;
    background: black;
    background-image: url(instagram-icon.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 16px;
}
.instagram:hover, .instagram:active {
    color: black;
    background-color: thistle;
    box-shadow: 0px 0px 20px 10px black;
    transition-duration: 500ms;
    background-image: url(instagram-icon.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 70px 13px;
}

                                                            /*Twitch*/
.twitch {
    font-weight: 600;
    color: white;
    border-radius: 10px;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    transition-duration: 500ms;
    background: black;
    background-image: url(twitch-icon.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 16px;
}
.twitch:hover, .twitch:active {
    background-color: #ae78ff;
    color: black;
    border: none;
    box-shadow: 0px 0px 20px 10px black;
    transition-duration: 500ms;
    background-image: url(twitch-icon.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 70px 15px;
}

                                                            /*Discord*/
.discord {
    font-weight: 600;
    color: white;
    border-radius: 10px;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    transition-duration: 500ms;
    background: black;
    background-image: url(discord-icon.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 16px;
}
.discord:hover, .discord:active{
    background-color: #848df2;
    color: black;
    box-shadow: 0px 0px 20px 10px black;
    transition-duration: 500ms;
    background-image: url(discord-black-icon.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 70px 15px;
}

                                                            /*Fleeforezz*/
.Fleeforezz {
    font-weight: 600;
    color: white;
    border-radius: 10px;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    transition-duration: 500ms;
    background: black;
    background-image: url(fleeforezz-icon.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 16px;
}
.fleebox1 {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url();
    background-repeat: no-repeat;
    z-index: -1;
    transform: translate(150px, 75px);
    animation: fleebox1 5s infinite alternate;
}
@keyframes fleebox1 {
    50% { transform: translate(15px, 50px); }
    100% { transform: translate(15px, 50px);  }
}
.fleebox2 {
    position: absolute;
    width: 64px;
    height: 32px;
    background-image: url();
    background-repeat: no-repeat;
    border-radius: 1px;
    z-index: -1;
    transform: translate(-30px, 75px);
    animation: fleebox2 5s infinite alternate-reverse;
}
@keyframes fleebox2 {
    50% { transform: translate(-30px, 50px); }
    100% { transform: translate(-30px, 50px);  }
}
.Fleeforezz:hover, .Fleeforezz:active {
    background-color: rgb(179, 252, 228);
    color: black;
    box-shadow: 0px 0px 20px 10px black;
    transition-duration: 500ms;
    background-image: url(fleeforezz-icon.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 70px 15px;
}

                                                            /* 1650 Screen */
@media screen and (max-width: 1650px) {
    .header {
        margin-top: 5em;
    }

    .outtro {
        text-align: center;
        margin-top: 15em;
    }

    ::-webkit-scrollbar {
        width: 5px;
        background-color: #242424;
    }
    ::-webkit-scrollbar-thumb {
        border: 25px;
        border-radius: 180px;
        background-color: rgb(58, 58, 58);
    }

    .github {
        font-size: 15px;
        margin-left: 190px;
        padding: 7.5px 50px;
        background-size: 20px;
    }
    .github:hover, .github:active {
        background-size: 13.5px;
        background-position: 30px 13px;
    }

    .facebook {
        font-size: 15px;
        padding: 7.5px 50px;
        background-size: 20px;
    }
    .facebook:hover, .facebook:active {
        background-size: 13.5px;
        background-repeat: no-repeat;
        background-position: 30px 13px;
    }

    .instagram {
        padding: 7.5px 50px;
        background-size: 20px;
    }
    .instagram:hover, .instagram:active {
        background-size: 13.5px;
        background-repeat: no-repeat;
        background-position: 30px 13px;
    }

    .twitch {
        padding: 7.5px 50px;
        background-size: 20px;
    }
    .twitch:hover, .twitch:active {
        background-size: 13.5px;
        background-repeat: no-repeat;
        background-position: 30px 13px;
    }

    .discord {
        padding: 7.5px 50px;
        background-size: 20px;
    }
    .discord:hover, .discord:active {
        background-size: 13.5px;
        background-repeat: no-repeat;
        background-position: 30px 13px;
    }

    .Fleeforezz {
        padding: 7.5px 50px;
        background-size: 20px;
    }
    .Fleeforezz:hover, .Fleeforezz:active {
        background-size: 13.5px;
        background-repeat: no-repeat;
        background-position: 30px 13px;
    }
}

                                                            /* 800px Screen */
@media screen and (max-width: 800px) {
    .outtro {
        text-align: center;
        margin-top: 8em;
    }

    .github {
        font-size: 15px;
        margin-left: 100px;
        background-image: none;
    }
    .github:hover, .github:active {
        background-image: none;
    }

    .facebook {
        font-size: 15px;
        margin-left: 100px;
        background-image: none;
    }
    .facebook:hover, .facebook:active {
        background-size: 13.5px;
        background-repeat: no-repeat;
        background-position: 30px 13px;
    }

    .instagram {
        padding: 7.5px 50px;
        margin-left: 100px;
        background-image: none;
    }
    .instagram:hover, .instagram:active {
        background-size: 13.5px;
        background-repeat: no-repeat;
        background-position: 30px 13px;
    }

    .twitch {
        padding: 7.5px 50px;
        margin-left: 100px;
        background-image: none;
    }
    .twitch:hover, .twitch:active {
        background-size: 13.5px;
        background-repeat: no-repeat;
        background-position: 30px 13px;
    }

    .discord {
        padding: 7.5px 50px;
        margin-left: 100px;
        background-image: none;
    }
    .discord:hover, .discord:active {
        background-size: 13.5px;
        background-repeat: no-repeat;
        background-position: 30px 13px;
    }

    .Fleeforezz {
        padding: 7.5px 50px;
        margin-left: 100px;
        background-image: none;
    }
    .Fleeforezz:hover, .Fleeforezz:active {
        background-size: 13.5px;
        background-repeat: no-repeat;
        background-position: 30px 13px;
    }
}